*{
    padding: 0px;
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

nav{
    height: 80px;
    width: 100%;
    background-color: blue;
}

label.logo{
    font-size: 35px;
    font-family: montserrat;
    font-weight: bold;
    color: black;
    padding: 0px 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right:40px ;
    font-weight: bold;
}

nav li{
    display:inline-block;
    margin: 0px 8px;
    line-height: 80px;
}

nav a{
    color:black;
    border:2px solid transparent;
    padding: 7px 10px;
    text-transform: uppercase;
    border-radius: 3px;
}

.active{
    border: 2px solid white;
    transition: .5s;
}
.hover:hover{
    border: 2px solid white;
    transition: .5s;
}

nav #icon{
    color: white;
    line-height: 80px;
    float: right;
    margin-right:40px;
    cursor: pointer;
    display: none;
}

@media(max-width:1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
        font-weight: 400;
    }
    nav a{
        font-size:17px;
    }
    nav{
        background-color: #7c6bf2;
    }
    #image{
        background-size: cover;
    }
}

@media(max-width:970px){
    label.logo{
        padding: 0px 10px;
        font-size: 20px;
        color: white;
        padding-left: 10px;
    }
    nav #icon{
        display:block;
        margin-right: 10px;

    }
    nav li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }
   
    nav{
        background-color: #434245;
    }
    nav ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background-color: #434245;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav a{
        font-size:20px;
    }

    a.active{
        color:white;
        border: none;
        font-weight: bold;
    }
    .hover:hover{
        border: none;
        color:white;
        font-weight: bold;
    }
    nav ul.show{
        left:0px;
    }
    #image{
        background-size: cover;
    }
}

#image{
    background: url("internship.png") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}